extends layout

block content
  h1= title
  p Welcome to #{title}


  div(id="urlIntake")
    input(
      type="text"
      placeholder="Paste the URL to your video, and share."
    )

    button(id="intakeBtn").
      Process URL
