extends layout
block content
  .four.column.centered.row
    .column
      .ui.floating.message#status-msg

  .ui.stackable.one.column.center.aligned.grid
    .row
    .row
    .row
    .row
    .row
    .row
    .row
      .column.eight.wide
        .ui.fluid.massive.action.input
          input#hyphy-input-field(type='text', placeholder='Paste, shorten and share')
          #default-btn.ui.blue.button Shorten
    .row
      .ui.column.eight.wide.centered
        .social.buttons
          a#fb-btn.fbtn.share.facebook(href='#')
            i.fa.fa-facebook
          a#tw-btn.fbtn.share.twitter(href='#')
            i.fa.fa-twitter
          a#in-btn.fbtn.share.linkedin(href='#')
            i.fa.fa-linkedin
    .row

  script.
      var socket = io.connect();

      var fblink = "https://www.facebook.com/sharer/sharer.php?u="
      var twlink = "https://twitter.com/intent/tweet?text="
      var inlink = "http://www.linkedin.com/shareArticle?mini=true&url="

      function switchButtons(){
          $('#hyphy-input-field').val("");
          $("#close-btn").remove();
          $("#default-btn")
            .text("Shorten")
              .removeClass('green')
              .addClass('blue')
            .removeClass('copyEnabled');
            $(".social.buttons").hide();
      }

      $('#default-btn').click(function() {
        if ($(this).hasClass('copyEnabled')){

          (function copyToClipBoard(){
            var $temp = $("<input>");
            var link = $("#hyphy-input-field").val();
            $("body").append($temp);
            $temp.val(link).select();
            document.execCommand("copy");
            $temp.remove();

            statusMessageBanner = $('div#status-msg');

            if (statusMessageBanner.hasClass('negative')){
              statusMessageBanner.removeClass('negative');
            }
            statusMessageBanner.addClass("success");

            statusMessageBanner.html(link + " copied to clipboard.")
              .slideDown('slow')
              .delay(2000)
              .slideUp('fast');
          })();

        }

        else {
          socket.emit('link submit', $('#hyphy-input-field').val());
        }
        
      });

      socket.on('link ready', function(link){
        $('#hyphy-input-field').val(link);
        $("#default-btn")
          .text("Copy")
          .removeClass('blue')
          .addClass('green')
          .addClass('copyEnabled');
        $('<button id="close-btn" class="ui grey button">X</button>').insertBefore('#default-btn');
        
        (function buildSocial(){
          $("a#fb-btn").attr( "href", fblink + link );
          $("a#tw-btn").attr( "href", twlink + link );
          $("a#in-btn").attr( "href", inlink + link );
          $(".social.buttons").show();
        })();

      });

      socket.on('link error', function(msg){
        statusMessageBanner = $('div#status-msg');
        if (statusMessageBanner.hasClass('success')){
            statusMessageBanner.removeClass('success');

        }
        statusMessageBanner.addClass("negative");
        statusMessageBanner.html(msg)
          .slideDown('slow')
          .delay(2000)
          .slideUp('fast');
      });




      $("#hyphy-input-field").on("input", function() {
          if ($("#default-btn").hasClass('copyEnabled')){
              switchButtons();
          }
      });


      $("body").on("click", '#close-btn', function() {
          if ($("#default-btn").hasClass('copyEnabled')){
               switchButtons();
          }
      });

      
      $("#hyphy-input-field").keyup(function (e){
          if (e.keyCode == 13){ // return key
            $("#default-btn").trigger('click');
          }
      });