extends layout

block content
  h1= title
  p Welcome to #{title}

  div(class="ui one column centered grid")
    div(class="row")
    div(class="row")
      div(class="column six wide")
        div(id="urlIntake", class="ui massive input", style="width: 100%;")
          input(type="text", id="mput" placeholder="Paste, shorten and share")
          button(id="intakeBtn", class="ui button").
            Shorten
        div(id='linkDisplay')

  script.
      var socket = io.connect('http://localhost:8080');
      $('#intakeBtn').click(function(){
         socket.emit('link submit', $('#mput').val());
         $('#mput').val('');
         return false;
      });

      socket.on('link ready', function(hlink){
        console.log(hlink);
        $('div#linkDisplay').hide().html(hlink).fadeIn('slow');
      })

