extends layout
block content
  .four.column.centered.row
    .column
      #status-msg

  .ui.stackable.one.column.center.aligned.grid.spaced
    .row
      .column.eight.wide
        div.ui.fluid.massive.action.input
          input#hyphy-input-field(type='text', placeholder='Paste, shorten and share')
          div#default-btn.ui.blue.button.
            Shorten
    
    .row
      .ui.column.eight.wide.centered
        .social.buttons
          a#fb-btn.fbtn.share.facebook(href='https://www.facebook.com/sharer/sharer.php?u=')
            i.fa.fa-facebook
          a#tw-btn.fbtn.share.twitter(href='https://twitter.com/intent/tweet?text=')
            i.fa.fa-twitter
          a#in-btn.fbtn.share.linkedin(href='http://www.linkedin.com/shareArticle?mini=true&url=')
            i.fa.fa-linkedin

  script.
      var socket = io.connect();

      $('#default-btn').click(function() {
        if ($(this).hasClass('copyEnabled')){

          (function copyToClipBoard(){
            var $temp = $("<input>");
            var link = $("#hyphy-input-field").val();
            $("body").append($temp);
            $temp.val(link).select();
            document.execCommand("copy");
            $temp.remove();
            statusMessageBanner = $('div#status-msg');
            statusMessageBanner.css("background", "#66CD00");
            statusMessageBanner.html(link + " copy to clipboard.")
              .slideDown('slow')
              .delay(2000)
              .slideUp('fast');
          })();

        }

        else {
          socket.emit('link submit', $('#hyphy-input-field').val());
        }
        
      });

      socket.on('link ready', function(link){
        $('#hyphy-input-field').val(link);
        $("#default-btn")
          .text("Copy")
          .addClass('copyEnabled');
        $('<button id="close-btn" class="ui grey button">X</button>').insertBefore('#default-btn');
        
        (function buildSocial(){
          $("a#fb-btn").attr("href",$("a#fb-btn").attr("href") + link );
          $("a#tw-btn").attr("href",$("a#tw-btn").attr("href") + link +"&url=" + link + "&title=" + link );
          $("a#in-btn").attr("href",$("a#in-btn").attr("href") + link +"&title=" + link );
          $(".social.buttons").show();
        })();

      });

      socket.on('link error', function(msg){
        statusMessageBanner = $('div#status-msg');
        statusMessageBanner.css("background", "yellow");
        statusMessageBanner.html(msg)
          .slideDown('slow')
          .delay(2000)
          .slideUp('fast');
      });

      $("#hyphy-input-field").on("input", function() {
        if ($("#default-btn").hasClass('copyEnabled')){
          $("#close-btn").remove();
          $("#default-btn")
            .text("Shorten")
            .removeClass('copyEnabled');
            $(".social.buttons").hide();
        }
      });


      $("body").on("click", '#close-btn', function() {
        if ($("#default-btn").hasClass('copyEnabled')){
          $('#hyphy-input-field').val("");
          $("#close-btn").remove();
          $("#default-btn")
            .text("Shorten")
            .removeClass('copyEnabled');
            $(".social.buttons").hide();
        }
      });

    