doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css',href='/stylesheets/semantic.min.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/clouds.css')

  .ui.basic.segment
    h3.ui.left.floated.header
      span.brand(style="color: orange")= 'hyphy'
      span.brand='.link'
    //h3.ui.right.floated.header
      button.ui.inverted.orange.button LOGIN
      button.ui.teal.button SIGN UP

  body.hyphy
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='semantic/dist/semantic.min.js')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')

    main.content
      block content

    .ui.inverted.vertical.footer.segment
      .ui.center.aligned.container
        .ui.horizontal.inverted.small.divided.link.list
          a.item(href='#') About
          a.item(href='#') Contact Us
          a.item(href='#') Terms and Conditions
          a.item(href='#') Privacy Policy

