@import url(https://fonts.googleapis.com/css?family=Satisfy);

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #209cdf;
}

a {
    color: #00B7FF;
}

#status-msg {
    position: absolute;
    top: 0px;
    width: 100%;
    border: 1px solid grey;
    text-align: center;
    padding: 8px;
    display: none;
}

.spaced {
    padding-top: 13% !important;
}

.brand {
    color: white;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
}

.brand-font{
    font-family: 'Satisfy', cursive;
}

#input-action-btn {
    width: 100px;
    border-radius: 3px !important;
}

#footer {

    background: #343436;

}

#cr-notice {
    color: grey;
    font-size: 10px;
    right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    float: right;
}


#copy-btn{
    display: none;
}




#error-msg {
    font-size: 180px;
    color: white;
}

.social .fbtn {
    width: 50px;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 18px;
    float: left;
}

.social .fa {
    padding: 15px 0px
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #55acee;
}

.linkedin {
    background-color: #0077b5;
}

.buffer {
    background-color: #323b43;
}

.share-button.sharer {
    height: 20px;
    padding: 100px;
}

.share-button.sharer .social.active.top {
    transform: scale(1) translateY(-10px);
}

.share-button.sharer .social.active {
    opacity: 1;
    transition: all 0.4s ease 0s;
    visibility: visible;
}


.share-button.sharer .social.top {
    margin-top: -80px;
    transform-origin: 0 0 0;
}

.share-button.sharer .social {
    margin-left: -65px;
    opacity: 0;
    transition: all 0.4s ease 0s;
    visibility: hidden;
}


.hyphy {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.social.buttons{
	display: none;
}
